body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 8px 0;
  background: #3e3e3e;
  color: #fff;
}
.header h1 {
  letter-spacing: 2px;
  font-size: 25px;
  padding: 10px;
  margin: 0;
}

.content {
  display: flex;
}

.content .conversationsList {
  width: 30%;
  height: 80vh;
  text-align: center;
  border-right: 1px solid #3e3e3e;
}
.content .conversationsList h4 {
  text-align: center;
  font-size: 20px;
  color: #3e3e3e;
  margin: 0;
  letter-spacing: 1px;
  border-bottom: solid 1px;
  padding: 15px 0px;
}
.conversations-users {
  overflow: auto;
  height: 100%;
}
.content .messages {
  width: 70%;
  height: 80vh;
  position: relative;
}
.content .messages h5 {
  text-align: center;
  font-size: 20px;
  color: #3e3e3e;
  margin: 0;
  letter-spacing: 1px;
  border-bottom: solid 1px;
  padding: 15px 0px;
}

.messagesForm {
  position: absolute;
  width: 100%;
  display: flex;
}
.messagesForm input {
  width: 80%;
  padding: 7px;
  margin: auto;
}
.messagesForm button {
  cursor: pointer;
  background-color: #aea19c;
  color: white;
  border: none;
  border-radius: 8px;
  margin-right: 30px;
}

.messagesInnerContainer {
  height: 490px;
  padding: 0px 30px;
  overflow: auto;
}
